<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LW5</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <b>Исходный текст для передачи</b>
            <br />
            <textarea name="input_text" cols="80" rows="5" ></textarea>
            <br />
            <button>Зашифровать</button>
            <br />
            <b>Полученный код</b>
            <br />
            <textarea name="get_binary" cols="80" rows="5"></textarea>
            <br />
            <button>Проверить</button>
            <br />
            <label name="result">Результат: сообщение получено верно</label>
            <br />
        </fieldset>
    </form>
</body>
</html>