<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <b>Исходный текст для передачи</b>
    <br />
    <textarea name="input_text" cols="80" rows="5" ></textarea>
    <br />
    <button>Зашифровать</button>
    <br />
    <b>Полученный код</b>
    <br />
    <textarea name="get_binary" cols="80" rows="5"></textarea>
    <br />
    <button>Проверить</button>
    <br />
    <label>Результат: сообщение получено верно</label>
    <br />
</body>
</html>